{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}

    <div>
        <table class="table table-striped" >
            <thead>
            <tr>

                <th scope="col">Mail</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>

            {% for resp in response %}
                <tr>
                    <td>
                        {% if resp.mail %}

                        {{ resp.mail }}
                        {% else %}
                            Anonyme
                    {% endif %}



                    </td>
                    <td><a href="/formUser?id={{ resp.id }}">Voir ses résultats</a></td>        </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
